@media (min-width: 1024px) {
  .card-container .card-grid {
    margin: 24px;
  }

  .eQdnAk .tmp-title-page-size20 {
    margin-left: 24px;
  }
}
@media (min-width: 1440px) {
  .card-container .card-grid {
    margin: 15px;
  }

  .eQdnAk .tmp-title-page-size20 {
    margin-left: 15px;
  }
}
@media (min-width: 1920px) {
  .card-container .card-grid {
    margin: 9px;
  }

  .eQdnAk .tmp-title-page-size20 {
    margin-left: 9px;
  }
}
.detail-container {
  background: #fff;
  border-left: 1px solid #b2b2b2;
  width: 100%;
  margin-top: 2px;
  overflow: auto;
  height: calc(100vh - 62px);
}

.detail-title {
  border-bottom: 2px solid #e8e8e8;
  padding: 10px 15px;
  display: flex;
}
.detail-title__left h1 {
  font-size: 18px;
  margin-bottom: auto;
}
.detail-title__right {
  position: relative;
  display: flex;
  justify-content: right;
  text-align: right;
  padding: 10px;
  width: calc(100% - 139.7px);
}

.detail-paragraph-1 {
  padding: 15px;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.detail-paragraph-1__name {
  padding-left: 15px;
  width: 100%;
}
.detail-paragraph-1__name h2 {
  color: #02a7f0;
}
.detail-paragraph-1__name span {
  font-weight: 500;
  padding: 0 10px;
}
.detail-paragraph-1__name p {
  display: inline;
  padding-right: 15px;
}

.detail-paragraph-2 {
  border-top: 20px solid #e8e8e8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}
.detail-paragraph-2 h1 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 15px 0;
}
.detail-paragraph-2__title {
  border-bottom: 2px solid #e8e8e8;
  display: flex;
}
.detail-paragraph-2__title--button {
  position: relative;
  width: calc(100% - 181.42px);
  text-align: right;
  padding: 15px 15px;
}
.detail-paragraph-2__content {
  padding: 10px 15px 0;
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-2__content h1 {
  padding-left: 0;
}
.detail-paragraph-2__footer {
  padding: 10px 15px;
}
.detail-paragraph-2__footer a {
  padding-right: 10px;
}

.detail-paragraph-3 {
  border-top: 20px solid #e8e8e8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}
.detail-paragraph-3 h1 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 15px 0;
}
.detail-paragraph-3__title {
  border-bottom: 2px solid #e8e8e8;
  display: flex;
}
.detail-paragraph-3__title--button {
  position: relative;
  width: calc(100% - 177px);
  text-align: right;
  padding: 15px 15px;
}
.detail-paragraph-3__content {
  padding: 10px 15px 15px;
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-3__content h1 {
  padding-left: 0;
}

.detail-paragraph-4 {
  border-top: 20px solid #e8e8e8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
}
.detail-paragraph-4 h1 {
  text-transform: uppercase;
  font-size: 18px;
}
.detail-paragraph-4__title {
  padding: 15px 15px 0;
  display: flex;
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-4__title--button {
  position: relative;
  width: calc(100% - 135.55px);
  text-align: right;
}
.detail-paragraph-4__content {
  padding: 15px;
}

.detail-paragraph-5 {
  border-top: 20px solid #e8e8e8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}
.detail-paragraph-5 h1 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 15px 0;
}
.detail-paragraph-5__title {
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-5__content {
  padding: 10px 15px 0 30px;
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-5__content span {
  padding-left: 15px;
  box-sizing: border-box;
}
.detail-paragraph-5__content h1 {
  padding-left: 0;
}
.detail-paragraph-5__footer {
  padding: 10px 15px;
}
.detail-paragraph-5__footer a {
  padding-right: 10px;
}

.pagination {
  margin-bottom: 30px;
  text-align: center;
}

::-webkit-scrollbar {
  height: 7px;
}

.card-container {
  background: #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  color: #b2b2b2;
}

.card-grid {
  border: 1px solid #b2b2b2;
  box-shadow: 0px 0px 3px #b2b2b2;
  border-radius: 1%;
  margin: 15px;
  padding: 20px;
  max-width: 253px;
  background: #fff;
  cursor: pointer;
}

.card-title__title {
  display: flex;
  justify-content: space-between;
}
.card-title__title p {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0 0 10px;
  color: black;
}
.card-title__title--detail-icon:hover {
  color: rgba(0, 0, 0, 0.5);
  background: rgba(178, 178, 178, 0.3);
  border-radius: 50%;
}
.card-title__content {
  font-size: 12px;
  padding: 0 0 10px;
}

.card-content {
  padding: 15px 0 20px;
}
.card-content__number {
  padding: 0 1px 0 10px;
  color: black;
}

.card-footer {
  padding: 40px 0 3px;
  display: flex;
  flex-wrap: wrap;
}
.card-footer__img-radius {
  padding: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #b2b2b2;
  text-align: center;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
