.detail-container {
  background: #fff;
  border-left: 1px solid #b2b2b2;
  width: 100%;
  margin-top: 2px;
  overflow: auto;
  height: calc(100vh - 62px);
}

.detail-title {
  border-bottom: 2px solid #e8e8e8;
  padding: 10px 15px;
  display: flex;
}
.detail-title__left h1 {
  font-size: 18px;
  margin-bottom: auto;
}
.detail-title__right {
  position: relative;
  text-align: right;
  padding: 10px;
  width: calc(100% - 139.7px);
}

.detail-paragraph-1 {
  padding: 15px;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.detail-paragraph-1__name {
  padding-left: 15px;
  width: 100%;
}
.detail-paragraph-1__name h2 {
  color: #02a7f0;
}
.detail-paragraph-1__name span {
  font-weight: 500;
  padding: 0 10px;
}
.detail-paragraph-1__name p {
  display: inline;
  padding-right: 15px;
}

.detail-paragraph-2 {
  border-top: 20px solid #e8e8e8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}
.detail-paragraph-2 h1 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 15px 0;
}
.detail-paragraph-2__title {
  border-bottom: 2px solid #e8e8e8;
  display: flex;
}
.detail-paragraph-2__title--button {
  position: relative;
  width: calc(100% - 181.42px);
  text-align: right;
  padding: 15px 15px;
}
.detail-paragraph-2__content {
  padding: 10px 15px 0;
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-2__content h1 {
  padding-left: 0;
}
.detail-paragraph-2__footer {
  padding: 10px 15px;
}
.detail-paragraph-2__footer a {
  padding-right: 10px;
}

.detail-paragraph-3 {
  border-top: 20px solid #e8e8e8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}
.detail-paragraph-3 h1 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 15px 0;
}
.detail-paragraph-3__title {
  border-bottom: 2px solid #e8e8e8;
  display: flex;
}
.detail-paragraph-3__title--button {
  position: relative;
  width: calc(100% - 177px);
  text-align: right;
  padding: 15px 15px;
}
.detail-paragraph-3__content {
  padding: 10px 15px 15px;
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-3__content h1 {
  padding-left: 0;
}

.detail-paragraph-4 {
  border-top: 20px solid #e8e8e8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
}
.detail-paragraph-4 h1 {
  text-transform: uppercase;
  font-size: 18px;
}
.detail-paragraph-4__title {
  padding: 15px 15px 0;
  display: flex;
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-4__title--button {
  position: relative;
  width: calc(100% - 135.55px);
  text-align: right;
}
.detail-paragraph-4__content {
  padding: 15px;
}

.detail-paragraph-5 {
  border-top: 20px solid #e8e8e8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 3px;
}
.detail-paragraph-5 h1 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 15px 0;
}
.detail-paragraph-5__title {
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-5__content {
  padding: 10px 15px 0 30px;
  border-bottom: 2px solid #e8e8e8;
}
.detail-paragraph-5__content span {
  padding-left: 15px;
  box-sizing: border-box;
}
.detail-paragraph-5__content h1 {
  padding-left: 0;
}
.detail-paragraph-5__footer {
  padding: 10px 15px;
}
.detail-paragraph-5__footer a {
  padding-right: 10px;
}

.pagination {
  margin-bottom: 30px;
  text-align: center;
}

::-webkit-scrollbar {
  height: 7px;
}

/*# sourceMappingURL=main.css.map */
