.flex-space-between{
  display: flex;
  justify-content: space-between;
}

.flex-items-center{
  display: flex;
  align-items: center;
}

.flex-items-start{
  display: flex;
  align-items: start;
}

.flex-items-flex-start{
  display: flex;
  align-items: flex-start;
}

.flex-space-between-item-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font-20-bold-500{
  font-size: 20px;
  font-weight: 500;
  color: $color-black;
}

.font-15-bold-500{
  font-size: 15px;
  font-weight: 500;
  color: $color-black;
}

.font-14-bold-500{
  font-size: 14px;
  font-weight: 500;
  color: $color-black;
}

.font-20-bold-600{
  font-size: 20px;
  font-weight: 600;
  color: $color-black;

}

.font-20-bold-500{
  font-size: 20px;
  font-weight: 500;
  color: $color-black;

}

.flex-process{
  flex: 1;
}

.border-right{
  border-right: 1px solid $color-schedule-interview;
}

.bold-text {
  font-weight: 500;

}

.select-option{
  .ant-select-selection .ant-select-selection__placeholder {
    color: $color-place-holder !important;
  }
}

.more-information{
  font-weight: 400;
  color: $color-text-light-grey;
}

.modal-overflow{
  overflow: auto;
  height: 760px;
}

.button-color{
  .ant-btn-primary{
    background-color: $color-border-process;
    border-color: $color-border-process;
  }
}

.hover-pointer{
  &:hover{
    cursor: pointer;
  }
}

.page-container{
  padding: 15px 30px !important;
}

