@media (min-width: $screen-xs-small-min) { // mobile lanscape

}

@media (min-width: $screen-sm-min) { // ipad 768px

}

@media (min-width: $screen-md-min) { //pc 1024px up
  .card-container {
    .card-grid {
      margin: 24px;
    }
  }
  .eQdnAk{
    .tmp-title-page-size20{
      margin-left: 24px;
    }
  }
}

@media (min-width: $screen-lg-min) { //pc 1200px up

}

@media (min-width: $screen-xl-min) { //pc 1440px up
  .card-container {
    .card-grid {
      margin: 15px;
    }
  }
  .eQdnAk{
    .tmp-title-page-size20{
      margin-left: 15px;
    }
  }

}

@media (min-width: $screen-xxl-min) { //pc 1920px up
  .card-container {
    .card-grid {
      margin: 9px;
    }
  }
  .eQdnAk{
    .tmp-title-page-size20{
      margin-left: 9px;
    }
  }
  .apply-step {
    width: 520px !important;
    align-self: flex-start !important;
  }

  .width-apply-position {
    width: calc(520px / 6);
  }

}

@media (min-width: $screen-xxxl-min) { //pc 2560px up

}
