.c-list-profile{
  a{
    &:hover{
      text-decoration: underline;
    }
  }
}

.cv-overflow {
  white-space: nowrap;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;

}
